Cours/M1/Cours/XML et Webservices/TPs/TP01/biblio.dtd

<!DOCTYPE programme
[
<!--V1  dtd du fichier bliblio.xml -->
<!ELEMENT bib (domain+)>
<!ELEMENT domain (title+, bib_ref+)>
<!--Séquence d'éléments, qui doivent tous être remplis -->
<!ELEMENT title (#PCDATA)>
<!ELEMENT bib_ref (year+, title+, author+, weblink+)>
<!--Séquence d'éléments, qui doivent tous être remplis -->
<!ELEMENT year (#PCDATA)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT author (#PCDATA)>
<!ELEMENT weblink (#PCDATA)>
>